.header {
    position: relative;
    padding-top: 12px;
}
.mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 61px;
}
.logo {
}
.mobile__button {
    background-color: transparent;
    border: none;
}
.button__burger {
    fill: $main-color;
}
.nav__wrapp {
    display: none;
    position: absolute;
    top: 0px;
    left: 25px;
    background-color: $main-bg-color;
}
.nav {
}
.nav__list {
    @extend %list;
    margin-top: 51px;
    margin-bottom: 111px;
}
.nav__item {
    text-align: center;
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}
.nav__link {
    @extend %link;

    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;

    color: $main-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $secondary-color;
    }
}
.button__buy {
    @include main__button(14px, 152px, 42px);
    position: relative;

    margin: 0 auto;

    width: 152px;
    height: 42px;
}
